[Unit]
Description=Group meeting scheduler
Requires=postgres.service
After=postgres.service

[Container]
ContainerName=rallly
Image=docker.io/lukevella/rallly:4.6
Network=postgres-net.network
PublishPort=3100:3000
# for reasons unknown to me this variable needs to be available before EnvironmentFile is sourced
Environment=DATABASE_URL="postgres://rallly:{-{postgres_rallly_password}-}@postgres-shared:5432/rallly"
EnvironmentFile=%h/rallly/config.env

[Service]
Restart=always

[Install]
WantedBy=default.target