[Unit]
Description=Radicale DAV server

[Container]
Image=docker.io/tomsquest/docker-radicale:3.5.0.1
ContainerName=radicale
PublishPort=5232:5232
RunInit=true
ReadOnly=true
NoNewPrivileges=true
DropCapability=all
AddCapability=SETUID SETGID CHOWN KILL
PidsLimit=50
HealthCmd=curl -f http://127.0.0.1:5232 || exit 1
HealthInterval=30s
HealthRetries=3
Environment=TAKE_FILE_OWNERSHIP=false

[Service]
Restart=always
Memory=256m
Volume=%h/radicale/data:/data
Volume=%h/radicale/config:/config:ro