[Unit]
Description=Museum, the main server component for ente
Requires=postgres.service
After=postgres.service

[Container]
Pod=ente.pod
ContainerName=ente-museum
Image=ghcr.io/ente-io/server
# Ensure this database and user exists on the postgres container
Environment=POSTGRES_USER=ente POSTGRES_PASSWORD={-{postgres_ente_password}-} POSTGRES_DB=ente
Volume=%h/ente/museum.yaml:/museum.yaml:ro
Volume=%h/ente/data:/data:ro

[Service]
Restart=always

[Install]
WantedBy=default.target