[Unit]
Description=Socat container to resolve localhost:3200 on the server to the minio container
After=ente-museum.service ente-minio.service
PartOf=ente-museum.service

[Container]
ContainerName=ente-socat
Image=docker.io/alpine/socat
Exec='TCP-LISTEN:3200,fork,reuseaddr' TCP:ente-minio:3200
Network=postgres-net.network
